<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/layout.ejs")%>
      <div class="right-panel">
        <div class="dynamic-content" style="padding: 30px">
          <div class="dynamic-title">
            <%= title %>
          </div>
          <div class="book-detail-wrapper">
            <div class="author-name">
              <strong>Author: </strong>
              <a href="<%= book.author.url %>">
                <%= book.author.name %>
              </a>
            </div>
            <div class="book-summary">
              <strong>Summary:</strong>
              <%= book.summary %>
            </div>
            <div class="book-isbn">
              <strong>ISBN:</strong>
              <%= book.isbn %><br />
            </div>
            <div class="book-genre">
              <strong>Genre:</strong>
              <% (book.genre).forEach((genre, i) => { %>
                      <a href="<%=genre.url%>"><%= genre.name %></a><%= ( (book.genre).length
                      > 0 && i < (book.genre).length-1 ? ', ' : '' ) %> <% }) %>
              </div>
          </div>
<br>
<a href="<%= book.url %>/update">Update Book</a> <br>
<a href="<%=book.url %>/delete">Delete Book</a>

<hr />
        <h2>Copies</h2>
        <% if(typeof book_instance == 'object' && book_instance.length > 0) { %>
        <% book_instance.forEach(book=> { %> <% if (book.status==='Available' )
        { %>
        <span class="green"> <%= book.status %> </span>
        <% } else if (book.status==='Maintenance' ) { %>
        <span class="yellow"> <%= book.status %> </span>
        <% } else { %>
        <span class="red"> <%= book.status %> </span>
        <% } %> <% if(book.status !='Available' ) { %>

        <br />
        <span> <strong>Due: </strong> <%= book.due_back_f %> </span>
        <%}%>
        <br />
        <span> <strong>Imprint: </strong><%= book.imprint %> </span>
        <br />
        <span>
          <strong>ID: </strong> <a href="<%= book.url %>"><%= book._id %></a>
        </span>
        <br />
        <br />
        <% }) %> <% } else { %> NO BOOKS FOUND <% } %>
        
      </div>
    </div>
  </body>
</html>