<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/layout.ejs")%>
      <div class="right-panel">


        <div class="dynamic-content" style="padding: 30px;">
          <div class="dynamic-title">
            <%= title %>: <%= genre.name %>
          </div>
          <a href="<%= genre.url %>/update">Update Genre</a>
          <br>
          <a href="<%=genre.url %>/delete">Delete Genre</a>
          <hr>
          <% if(typeof genre_books == 'object' && genre_books.length > 0) { %>
          <ul>
            <% genre_books.forEach(book=> { %>
              <li><a href=" <%= book.url %>">
                  <%= book.title %>
                </a>
                <br>
                <p class="book-summary"><%= book.summary %> </p>
              </li>
              <br>
              <% }) %>
          </ul>
          <% } else { %>
            NO BOOKS FOUND UNDER THIS GENRE
            <% } %>
            <br>


        </div>
      </div>

  </body>

</html>