<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/layout.ejs")%>
      <div class="right-panel">


        <div class="dynamic-content" style="padding: 30px;">
          <div class="dynamic-title">
            <%= title %>
          </div>

          <ul class="genre-list-ul">
            <% genre_list.forEach(genre=> { %>
              <li><a href=" <%= genre.url %>">
                  <%= genre.name %>
                </a>
              </li>

              <% }) %>
          </ul>
        </div>
      </div>

  </body>

</html>